<div class="h100 clouds">
    <div id="login-prompter" class="container-fluid">
        <h1>Start chatting now!</h1>
        <h4>Out service supports logging in with the following providers</h4>
        <div class="social-media-providers">
            <span class="social-media-provider fa fa-5x fa-facebook-square"></span>
            <span class="social-media-provider fa fa-5x fa-github-square"></span>
            <span class="social-media-provider fa fa-5x fa-google-plus-square"></span>
            <span class="social-media-provider fa fa-5x fa-twitter-square"></span>
            <span class="social-media-provider fa fa-5x fa-linkedin-square"></span>
            <span class="social-media-provider fa fa-5x fa-windows"></span>
        </div>
        <button style="width: 175px;" class="btn btn-lg btn-success" ng-click="login()">Log In</button>
        <div style="margin-top: 10px;">
            <a href="http://blog.webbage.net" target="_blank">Visit our blog</a> | <a href="mailto:support@webbage.net" target="_blank">Contact us</a>
        </div>
    </div>
</div>