.modal-content {
    border-radius: 0;
    top: 25px;
}

.wbg-modal-body .form-control {
    border-radius: 0;
}

.wbg-modal-body {
    padding: 15px;
    background: #f0f0f0;
    position: relative;
}
    .wbg-modal-body .closer {
        position: absolute;
        top: 0; 
        right: 10px;
        color: #ccc;
        cursor: pointer;
    }
        .wbg-modal-body .closer:after {
            content: '\00d7';
            font-size: 28px;
        }
        .wbg-modal-body .closer:hover {
            color: #aaa;
        }
    .wbg-modal-body .wbg-modal-header,
    .wbg-modal-body .wbg-modal-content {
        margin-bottom: 20px;
    }
        .wbg-modal-header .description {
            color: #888;
        }
        .wbg-modal-content .control-label {
            text-transform: uppercase;
        }
    .wbg-modal-body .wbg-modal-actions {
        margin-top: 25px;
    }
        .wbg-modal-actions .btn {
            background-color: transparent;
            border-radius: 0;
            border: 1px solid #888;
            color: #888;
            margin-left: 10px;
            min-width: 100px;
        }
            .wbg-modal-actions .btn.btn-primary {
                border-color: #337ab7;
                color: #337ab7;
            }
                .wbg-modal-actions .btn.btn-primary:hover {
                    border-color: #286090;
                    color: #286090;
                }
            .wbg-modal-actions .btn.btn-success {
                border-color: #5cb85c;
                color: #5cb85c;
            }
                .wbg-modal-actions .btn.btn-success:hover {
                    border-color: #449d44;
                    color: #449d44;                    
                }
            .wbg-modal-actions .btn.btn-warning {
                border-color: #f0ad4e;
                color: #f0ad4e;
            }
                .wbg-modal-actions .btn.btn-warning:hover {
                    border-color: #ec971f;
                    color: #ec971f;
                }
            .wbg-modal-actions .btn.btn-danger {
                border-color: #d9534f;
                color: #d9534f;
            }
                .wbg-modal-actions .btn.btn-danger:hover {
                    border-color: #c9302c;
                    color: #c9302c;
                }
