.hover {
    cursor: pointer;
}
.h100 {
    height: 100%;
}
.padded-div {
    padding: 50px;
}
.bold {
    font-weight: bold;
}

.clouds {
    background-color: #ecf0f1;
}
.silver {
    background-color: #bdc3c7;
}
.emerald {
    color: #2ecc71;
}

.navbar {
    height: 33px;
    min-height: 0;
    margin-bottom: 0;
    background: #555;
}
    .navbar > .container-fluid  > .navbar-header {
        line-height: 33px;
        float: left;
    }
        .navbar > .container-fluid > .navbar-header > .navbar-brand {
            padding: 6px 15px;
            font-size: 16px;
        }
        .navbar > .container-fluid > .navbar-right {
            height: 33px;
            color: #ecf0f1;
            float: right;
            font-size: 22px;
            font-weight: lighter;
        }

.navbar-right > .log-in-display > span {
    font-size: 16px;
    display: inline-block;
    float: right;
    padding: 5px 10px;
    padding-bottom: 6px;
    cursor: pointer;
}
    .navbar-right > .log-in-display > span:hover {
        background: #333;
    }
.navbar-right > .logged-in-display {
    float: right;
    width: 250px;
    position: relative;
    height: 33px;
}
    .navbar-right > .logged-in-display > .profile-display {
        float: left;
        height: 33px;
        cursor: pointer;
        margin-right: 50px;
    }
        .navbar-right > .logged-in-display > .profile-display:hover {
            background: #333;
        }
            .navbar-right > .logged-in-display > .profile-display > img {
                height: 25px;
                width: 25px;
                border-radius: 10px;
                margin-top: 4px;
                margin-left: 8px;
                float: left;
            }
            .navbar-right > .logged-in-display > .profile-display > span {
                font-size: 16px;
                display: block;
                float: left;
                margin-top: 6px;
                margin-left: 5px; 
                padding-right: 10px;
            }
        .navbar-right > .logged-in-display > span {
            font-size: 16px;
            display: inline-block;
            padding: 5px;
            padding-bottom: 6px;
            float: right;
        }
            .navbar-right > .logged-in-display > span:hover {
                background: #333;
                cursor: pointer;
            }

.content {
    height: 100%;
}
    .content.content-logged-out {
        padding-top:80px;
        text-align: center;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/img/background.jpg') no-repeat;
    }
        .content.content-logged-out > .container-fluid h1 {
            font-size: 6.5em;
            color: #bdc3c7;
            margin-top: 80px;
        }
        .content.content-logged-out > .container-fluid h4 {
            display: inline-block;                        
            font-size: 1.9em;
            color: #95a5a6;
        }
        .content.content-logged-out > .container-fluid .social-media-provider {
            padding: 15px;
        }
    .content.content-logged-in {
        padding-top: 40px;
    }
    .content.connecting-to-room {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) no-repeat;        
    }
        .content.connecting-to-room > #connecting-spinner {
            position: absolute;
            left: 48%;
            top: 40%;
        }
        .fa-facebook-square {
            color: #3a5795;
        }
        .fa-github {
            color: #999;
        }
        .fa-google-plus {
            color: #dd4b39
        }
        .fa-linkedin {
            color: #007bb6;
        }
        .fa-windows {
            color: #2672EC;
        }
        .fa-twitter {
            color: #00aced;
        }

#copyright {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #bdc3c7;
}