body {
    
}
.hover {
    cursor: pointer;
}
.h100 {
    height: 100%;
}

.clouds {
    background-color: #ecf0f1;
}
.silver {
    background-color: #bdc3c7;
}

.login-display:hover {
    background: #333;    
}
    .login-display > span {
        font-size: 16px;
        display: block;
        margin-top: 0;
        padding: 5px 10px;
        cursor: pointer;
    }
.user-nav-display {
    float: right;
    width: 250px;
    position: relative;
    height: 33px;
}
    .user-nav-display > .user-nav-display-profile {
        float: left;
        height: 33px;
        cursor: pointer;
        margin-right: 50px;
    }
        .user-nav-display > .user-nav-display-profile:hover {            
            background: #333;
        }
        .user-nav-display > .user-nav-display-profile > .user-nav-display-img {
            height: 25px;
            width: 25px;
            border-radius: 10px;
            margin-top: 4px;
            margin-left: 8px;
            float: left;
        }
        .user-nav-display > .user-nav-display-profile > .user-nav-display-name {
            font-size: 16px;
            display: block;
            float: left;
            margin-top: 6px;
            margin-left: 5px; 
            padding-right: 10px;
        }
    .user-nav-display > span {
        font-size: 16px;
        display: inline-block;
        float: right;
        padding: 5px 10px;
        cursor: pointer;
    }
        .user-nav-display > span:hover {
            background: #333;
        }

.navbar {
    height: 33px;
    min-height: 0;
    margin-bottom: 0;
    background: #555;
}
    .navbar > .container-fluid .navbar-header {
        line-height: 33px;
    }
        .navbar > .container-fluid .navbar-header > .navbar-brand {
            padding: 6px 15px;
            font-size: 16px;
        }

#right-nav {
    height: 33px;
    color: #ecf0f1;
    float: right;
    font-size: 22px;
    font-weight: lighter;
}

#main-home-display {
    height: 100%;
}
    #main-home-display #login-prompter {
        text-align: center;
        padding-top: 100px;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/img/background.jpg') scroll;
    }
        #main-home-display #login-prompter > h1 {
            padding-top: 75px;
            font-size: 6.5em;
            color: #bdc3c7;
        }
        #main-home-display #login-prompter > h4 {
            display: inline-block;                        
            font-size: 1.9em;
            color: #95a5a6;
        }
        #main-home-display #login-prompter > .social-media-providers {
            margin-top: 50px;
            margin-bottom: 50px;
        }
            #main-home-display #login-prompter > .social-media-providers > .social-media-provider {
                margin: 15px;
            }

        .fa-facebook-square {
            color: #3a5795;
        }
        .fa-github {
            color: #999;
        }
        .fa-google-plus {
            color: #dd4b39
        }
        .fa-linkedin {
            color: #007bb6;
        }
        .fa-windows {
            color: #2672EC;
        }
        .fa-twitter {
            color: #00aced;
        }

#bottom-right-copyright {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #bdc3c7;
}