@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>webbage.chat</h1>
                <h3>connecting you to everyone else on the web</h3>
            </div>
            <div class="col-lg-4">
                <!-- BLANK -->
            </div>
            <div class="col-lg-2">
                @Html.ActionLink("sign up", "SignUp", "User") | @Html.ActionLink("log in", "LogIn", "User")
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

    </div>
</div>