<div id="main">
    <div id="chat">

    </div>
    <div id="sidebar"></div>
    <div id="input-area" class="silver">
        <div id="input-wrapper">
            <textarea id="message"></textarea>
        </div>
        <div id="button-wrapper">
            <button class="button carrot" id="sendMessage" disabled>send</button>
        </div>
        <div id="logo-wrapper">
            <div id="logo">
                <h5 style="position: absolute; top:35%;">webbage.{chat} @DateTime.Now.Year</h5>
            </div>
        </div>
    </div>
    <input type="hidden" id="displayName" />
</div>

@section scripts {    
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    
    @Styles.Render("~/Content/chat");

    <script>
        $(function () {

            var chat = $.connection.chatHub;

            $('#message').keypress(function (e) {
                if (e.keyCode == 13) {
                    sendMessage($('#displayname').val(), $('#message').val());
                    e.preventDefault();
                }
            });

            $('#displayName').val(prompt('Enter your name:', ''));
            $('#message').focus();

            chat.client.addNewMessageToPane = function (name, message) {
                $('#chat').append('<div><strong>' + htmlEncode(name) + '</strong>: ' + htmlEncode(message) + '</div>');
                $('#chatRow').animate({ scrollTop: $('#chat')[0].scrollHeight }, 400);
            }

            $.connection.hub.start().done(function () {
                $('#sendMessage').click(function () {
                    sendMessage($('#displayname').val(), $('#message').val());
                });
            });

            function htmlEncode(value) { return $('<div />').text(value).html(); }

            function sendMessage(name, message) {
                if (name != '' && message != '') {
                    chat.server.send($('#displayName').val(), $('#message').val());
                    $('#message').val('').focus();
                };
            };

        });
    </script>
}