<div id="main">
    <div id="chat" data-roomId="">

    </div>
    <div id="sidebar">
        <div id="online-user-list">

        </div>
    </div>
    <div id="input-area" class="silver">
        <div id="input-wrapper">
            <textarea id="message"></textarea>
        </div>
        <div id="button-wrapper">
            <button class="button carrot" id="sendMessage">send</button>
            <button class="button concrete" id="sendCodeMessage">code</button>
        </div>
        <div id="logo-wrapper">
            <div id="logo">
                <h5 style="position: absolute; top:35%;">webbage.{chat} @DateTime.Now.Year</h5>
            </div>
        </div>
    </div>
    <input type="hidden" id="displayName" />
</div>

@section scripts {    
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/chat.js"></script>
    
    @Styles.Render("~/Content/chat");
}