<div id="main">
    <div id="chat">

    </div>
    <div class="col-lg-3">
        <div id="sidebar"></div>
    </div>
    <div id="input-area" class="silver">
        <div id="input-wrapper">
            <textarea id="message" style="height: 60px; width: 550px;"></textarea>
        </div>
        <div id="button-wrapper" style="padding: 10px;">
            <input type="button" id="sendMessage" value="Send" style="margin-left: 10px;"/>
        </div>
    </div>
    <input type="hidden" id="displayName" />
</div>

@section scripts {    
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {

            var chat = $.connection.chatHub;

            $('#message').keypress(function (e) {
                if (e.keyCode == 13) {
                    chat.server.send($('#displayName').val(), $('#message').val());
                    $('#message').val('').focus();
                    e.preventDefault();
                }
            });

            $('#displayName').val(prompt('Enter your name:', ''));
            $('#message').focus();

            chat.client.addNewMessageToPane = function (name, message) {
                $('#chat').append('<div><strong>' + htmlEncode(name) + '</strong>: ' + htmlEncode(message) + '</div>');
                $('#chatRow').animate({ scrollTop: $('#chat')[0].scrollHeight }, 400);
            }

            $.connection.hub.start().done(function () {
                $('#sendMessage').click(function () {
                    chat.server.send($('#displayName').val(), $('#message').val());
                    $('#message').val('').focus();
                });
            });

            function htmlEncode(value) { return $('<div />').text(value).html(); }

        });
    </script>
}