<div id="main">
    <div id="chat">

    </div>
    <div id="sidebar"></div>
    <div id="input-area" class="silver">
        <div id="input-wrapper">
            <textarea id="message"></textarea>
        </div>
        <div id="button-wrapper">
            <button class="button carrot" id="sendMessage" disabled>send</button>
        </div>
        <div id="logo-wrapper">
            <div id="logo">
                <h5 style="position: absolute; top:35%;">webbage.{chat} @DateTime.Now.Year</h5>
            </div>
        </div>
    </div>
    <input type="hidden" id="displayName" />
</div>

@section scripts {    
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    
    @Styles.Render("~/Content/chat");

    <script>
        $(function () {

            var chat = $.connection.chatHub;

            $('#displayName').val(prompt('Enter your name:', ''));

            $.connection.hub.start().done(function () {
                $('#sendMessage').click(function () {
                    sendMessage($('#displayName').val(), $('#message').val());
                });

                sendMessage("room", $('#displayName').val() + ' has joined the room.');
                $('#message').focus();
            });

            chat.client.addNewMessageToPane = function (name, message) {
                var chatRoomMessage = $('<div class="chat-room-message-wrapper">' + htmlEncodeName(name) + htmlEncodeMessage(message) + '<div class="clear"></div></div>');                
                $('#chat').append(chatRoomMessage);
                $('#chatRow').animate({ scrollTop: $('#chat')[0].scrollHeight }, 400);
            }

            //////////////////////////////////////////////////////////////// FUNCTIONS
            $('#message').keypress(function (e) {
                if (e.keyCode == 13) {
                    sendMessage($('#displayName').val(), $('#message').val());
                    e.preventDefault();
                }
            });
            function htmlEncodeName(value) {                
                return '<div class="chat-room-message-name">' + value + '</div>'
            }
            function htmlEncodeMessage(value) {
                return '<div class="chat-room-message-message">' + value + '</div>';
            }
            function sendMessage(name, message) {
                if (name != '' && message != '') {
                    chat.server.send(name, message);
                    $('#message').val('').focus();
                };
            };

        });
    </script>
}