<div id="main">
    <div id="chat">

    </div>
    <div id="sidebar">
        <div id="online-user-list">

        </div>
    </div>
    <div id="input-area" class="silver">
        <div id="input-wrapper">
            <textarea id="message"></textarea>
        </div>
        <div id="button-wrapper">
            <button class="button carrot" id="sendMessage">send</button>
        </div>
        <div id="logo-wrapper">
            <div id="logo">
                <h5 style="position: absolute; top:35%;">webbage.{chat} @DateTime.Now.Year</h5>
            </div>
        </div>
    </div>
    <input type="hidden" id="displayName" />
</div>

@section scripts {    
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    
    @Styles.Render("~/Content/chat");

    <script>
        $(function () {
            var chat            = $.connection.chatHub;
            var $displayName    = $('#displayName');
            var $chatDisplay    = $('#chat');
            var $message        = $('#message');
            var $sendMessage    = $('#sendMessage');
            var $onlineUserList = $('#online-user-list');

            // set height of the main chat div                 
            $chatDisplay.height(($(window).height() - 200) + 'px');

            while (!$displayName.val()) {
                $displayName.val(prompt('Enter your name:', '').trim());
            };

            $.connection.hub.qs = { "userName" : $displayName.val() };
            $.connection.hub.start().done(function () {
                $.connection.hub.qs = '';
                $message.val('').focus();
            });            

            chat.client.addNewMessageToPane = function (name, message) {
                var chatRoomMessage = '';
                if (name == $displayName.val()) {
                    chatRoomMessage = $('<div class="chat-room-message-wrapper">' + htmlEncodeName(name) + htmlEncodeMyMessage(message) + '<div class="clear"></div></div>');
                } else if (name == 'room') {
                    chatRoomMessage = $('<div class="chat-room-message-wrapper">' + htmlEncodeName(name) + htmlEncodeRoomMessage(message) + '<div class="clear"></div></div>');
                } else if (name == 'bot') {
                    chatRoomMessage = $('<div class="chat-room-message-wrapper">' + htmlEncodeName(name) + htmlEncodeBotMessage(message) + '<div class="clear"></div></div>');
                } else {
                    chatRoomMessage = $('<div class="chat-room-message-wrapper">' + htmlEncodeName(name) + htmlEncodeMessage(message) + '<div class="clear"></div></div>');
                }
                $chatDisplay.append(chatRoomMessage);
                $chatDisplay.animate({ scrollTop: $chatDisplay[0].scrollHeight }, 500);
            };
            chat.client.updateOnlineUsers = function (users) {                
                $.each($.parseJSON(users), function () {
                    if (!($('#online-user-list .online-user.' + this).length)) {
                        var onlineUserContent = htmlEncodeOnlineUser(this);
                        $onlineUserList.append(onlineUserContent);
                    }
                });
            };
            chat.client.removeDisconnectedUser = function (name) {
                var $div = $('#online-user-list .online-user.' + name);
                $div.remove();
            };
            chat.client.kickThisAsshole = function () {
                $.connection.hub.stop();
            }

            //////////////////////////////////////////////////////////////// SEND FUNCTIONS
            $message.keypress(function (e) {
                if (e.keyCode == 13) {
                    sendMessage($displayName.val(), $message.val());
                    e.preventDefault();
                }
            });
            ///////////////////////////////////////////////////////////////////////////////

            //////////////////////////////////////////////////////////////// MISC FUNCTIONS
            $sendMessage.on('click', function() {
                sendMessage($displayName.val(), $message.val());
            });
            function htmlEncodeName(value) {
                return '<div class="chat-room-message-name">' + value + '</div>'
            };
            function htmlEncodeMessage(value) {
                return '<div class="chat-room-message-message">' + value + '</div>';
            };
            function htmlEncodeMyMessage(value) {
                return '<div class="chat-room-message-message mine">' + value + '</div>';
            };
            function htmlEncodeRoomMessage(value) {
                return '<div class="chat-room-message-message room">' + value + '</div>';
            };
            function htmlEncodeBotMessage(value) {
                return '<div class="chat-room-message-message bot">' + value + '</div>';
            };
            function htmlEncodeOnlineUser(value) {
                if (value == $displayName.val()) {
                    return '<div class="online-user active-user me ' + value + '">' + value + '</div>';
                } else {
                    return '<div class="online-user active-user ' + value + '">' + value + '</div>';
                }
            };
            function sendMessage(name, message) {
                if (name != '' && message != '') {
                    chat.server.send(name, message);
                    $message.val('').focus();
                };
            };
            ///////////////////////////////////////////////////////////////////////////////

        });
    </script>
}