<div id="main">
    <div id="chat" data-roomId="">

    </div>
    <div id="sidebar">
        <div id="online-user-list">

        </div>
    </div>
    <div id="input-area" class="silver">
        <div id="input-wrapper">
            <textarea id="message"></textarea>
        </div>
        <div id="button-wrapper">
            <button class="button carrot" id="sendMessage">send</button>
            <button class="button concrete" id="sendCodeMessage">code</button>
            <span class="glyphicon glyphicon-volume-up hoverme" id="toggleAudioNotification" style="top: 5px; left: 7px;"></span>
        </div>
        <div id="logo-wrapper">
            <div id="logo">
                <h5 style="position: absolute; top:35%;">webbage.{chat} @DateTime.Now.Year</h5>
            </div>
        </div>
    </div>
    <input type="hidden" id="displayName" />
</div>

@section scripts {
    @Scripts.Render("~/scripts/chat")
    <script src="~/signalr/hubs"></script>    
}