
@{
    ViewBag.Title = "Index";
}

<div class="chat-room-display" data-chatroom="/1/sandbox">
    <div class="chat-room-display-title">
        sandbox+
    </div>
    <hr />
    <div class="chat-room-display-desc">
        Just a sandbox for testing out the functionality of the chatroom and whatnot. Enjoy.
    </div>
</div>

