#main {
    height: 100%;
    width: 100%;
}

#chat {
    width: 78%;
    padding-top: 30px;
    padding-left: 70px;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-room-message-wrapper {
    width: 100%;
    clear:both;
    margin: 7px;    
}
    .chat-room-message-wrapper > .chat-room-message-name {
        font-style: italic;
        font-size: 13px;
        float: left;
        padding-right: 10px;
        width: 5%;
    }
    .chat-room-message-wrapper > .chat-room-message-message {
        border-radius: 8px;
        padding: 4px;
        padding-left: 10px;
        font-size: 13px;
        float: left;
        width: 92%;
        background: #bdc3c7;
        word-wrap: break-word;
    }
    .chat-room-message-wrapper > .chat-room-message-message.mine {
        background: #E59650;
    }
    .chat-room-message-wrapper > .chat-room-message-message.room {
        background: #5B6A78;
        color: #ecf0f1;
    }

#sidebar {
    position: fixed;
    right: 50px;
    top: 75px;
    height: 700px;
    width:17%;
}
    #sidebar > #online-user-list {
        width: 100%;
    }
        #sidebar > #online-user-list > .online-user {
            padding: 2px 10px;
            margin: 2px;
            border-radius: 7px;
            float: left;
            color: #ecf0f1;
            cursor: pointer;
        }
        #sidebar > #online-user-list > .online-user.active-user {
            background: #2ecc71;
        }
            #sidebar > #online-user-list > .online-user.active-user:hover {
                background: #27ae60;
            }
        #sidebar > #online-user-list > .online-user.inactive-user {
            background: #e67e22;
        }
            #sidebar > #online-user-list > .online-user.inactive-user:hover {
                background: #c0392b;
            }
        #sidebar > #online-user-list > .online-user.me {
            background: #3498db;
        }
            #sidebar > #online-user-list > .online-user.me:hover {
                background: #2980b9;
            }

#input-area {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
}
    #input-area > #input-wrapper {
        height: 100%;
        padding-left: 70px;
        padding-top: 10px;
        float: left;
    } 
        #input-area > #input-wrapper > #message {
            height: 60px;
            width: 450px;
        }
    #input-area > #button-wrapper {
        padding: 10px;
    }
        #input-area > #button-wrapper > #sendMessage {
            margin-left: 10px;
        }
    #input-area > #logo-wrapper {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 10%;
            height: 100%;
        }
        #input-area > #logo-wrapper > #logo {
            height: 100%;
        }