#main {
    height: 100%;
    width: 100%;
}

.hoverme:hover {
    cursor: pointer;
}

#chat {
    width: 78%;
    padding-top: 30px;
    padding-left: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-room-message-wrapper {
    width: 100%;
    clear:both;
    margin: 2px;
}
    .chat-room-message-wrapper > .chat-room-message-name {
        font-style: italic;
        font-size: 13px;
        padding: 8px;
        text-align: right;
        float: left;
        padding-right: 10px;
        min-width: 10%;
        max-width: 10%; 
        min-height: 18px;
        overflow: hidden;
    }
    .chat-room-message-wrapper > .messages {
        padding: 4px;
        font-size: 13px;
        width: 87%;
        word-wrap: break-word;
        display: inline-block;
    }    
    .chat-room-message-wrapper > .messages > .chat-room-message-message:first-of-type {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .chat-room-message-wrapper > .messages > .chat-room-message-message:last-of-type {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }      
        .chat-room-message-wrapper > .messages > .chat-room-message-message {
            padding: 4px;
            padding-left: 10px;
            width: 100%;
            line-height: 1.5em;
            max-height: 102px;
            background: #bdc3c7;
            word-wrap: break-word;
            overflow: hidden;
            border: 1px solid transparent;      
        }
            .chat-room-message-wrapper > .messages > .chat-room-message-message:hover {
                border: 1px dotted #2980b9;
            }
        .chat-room-message-wrapper > .messages > .chat-room-message-message.mine {
            background: #E59650;
        }
        .chat-room-message-wrapper > .messages > .chat-room-message-message.room {
            background: #5B6A78;
            color: #ecf0f1;
        }
        .chat-room-message-wrapper > .messages > .chat-room-message-message.bot {
            background: #E67366;
        }
        .chat-room-message-wrapper > .messages > .chat-room-message-message.private {
            background: #A378B3;
            color: #ecf0f1;
        }
        .chat-room-message-wrapper > .messages > .chat-room-message-message.code {
            font-family: 'Courier New';
            font-size: 13px;
        }
        .chat-room-message-wrapper > .messages > .chat-room-message-message > a {
            color: #2c3e50;
        }
        .chat-room-message-wrapper > .messages > .chat-room-message-message > img {
            max-height: 100px;
            max-width: 100px;
            overflow: hidden;
        }
        .chat-room-message-wrapper > .messages > .show-more, .show-less {
            float: left;
            width: 100%;
            padding: 4px;
            padding-left: 10px;
            background: #27ae60;
            font-size: 11px;
            color: #ecf0f1;
        }
            .chat-room-message-wrapper > .messages > .show-more:hover, .show-less:hover {
                text-decoration: underline;
                cursor: pointer;
            }

#sidebar {
    position: fixed;
    right: 50px;
    top: 75px;
    height: 700px;
    width:17%;
}
    #sidebar > #online-user-list {
        width: 100%;
    }
        #sidebar > #online-user-list > .online-user {
            padding: 2px 10px;
            margin: 2px;
            border-radius: 7px;
            float: left;
            color: #ecf0f1;
            cursor: pointer;
        }
        #sidebar > #online-user-list > .online-user.active-user {
            background: #bdc3c7;
        }
            #sidebar > #online-user-list > .online-user.active-user:hover {
                background: #95a5a6;
            }
        #sidebar > #online-user-list > .online-user.inactive-user {
            background: #e67e22;
        }
            #sidebar > #online-user-list > .online-user.inactive-user:hover {
                background: #c0392b;
            }
        #sidebar > #online-user-list > .online-user.me {
            background: #E59650;
        }
            #sidebar > #online-user-list > .online-user.me:hover {
                background: #e67e22;
            }

#input-area {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
}
    #input-area > #input-wrapper {
        height: 100%;
        width: 30%;
        padding-left: 15px;
        padding-top: 10px;
        float: left;
    } 
        #input-area > #input-wrapper > #message {
            height: 60px;
            width: 100%;
        }
    #input-area > #button-wrapper {
        padding: 10px;
    }
        #input-area > #button-wrapper > #sendMessage {
            margin-left: 10px;
        }
    #input-area > #logo-wrapper {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 10%;
            height: 100%;
        }
        #input-area > #logo-wrapper > #logo {
            height: 100%;
        }