body, html {
    height: 100%;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

pre {
    margin: 0px;
}

.clear {
    clear: both;
}

.chat-room-display {
    height: 200px;
    width: 200px;
    float: left;
    background: #ecf0f1;
    margin: 10px;
    border: 1px solid #7f8c8d;
    cursor: pointer;
    padding: 5px;

            transition-duration: 200ms;
         -o-transition-duration: 200ms;
       -moz-transition-duration: 200ms;
}
    .chat-room-display:hover {
        box-shadow: 3px 3px 3px #bdc3c7;

             transition-duration: 200ms;
          -o-transition-duration: 200ms;
        -moz-transition-duration: 200ms;
    }
    .chat-room-display .chat-room-display-title {
        color: #d35400;
        font-size: 22px;
    }
    .chat-room-display hr {
        display: block;
        height: 1px;
        border: 1px solid #7f8c8d;
        margin-top: -1px;
    }
    .chat-room-display .chat-room-display-desc {
        color: #7f8c8d;
        margin-top: -15px;
    }

.button {
    border-radius: 10px;
    padding: 2px 10px;
    border: none;
    color: #fff;
    font-size: 11px;
}
    .button:hover {
        background: #d35400;
    }

