body {
    background: #f7f7f7;
}

.a0-close {
    display: none !important;
}
.hover {
    cursor: pointer;
}

#user-image {
    position: absolute;
    top: 3px;
    right: 50px;
}
#user-image img {
    height: 21px;
    width: 21px;
    margin-top: 2px;
    border: 1px solid #ecf0f1;
}

.navbar {
    height: 33px;
    min-height: 0;
}
.navbar > .container-fluid .navbar-header {
    padding: 6px 15px;
    line-height: 33px;
    height: 33px;    
}
.navbar > .container-fluid .navbar-header > .navbar-brand {
    padding: 0;
    font-size: 16px;
}

.navbar-header:after {
    clear: none !important;
}
.nav:after {
    clear: none !important;
}
.navbar:after {
    clear :none !important;
}
#right-nav {
    margin-top: 1px;
    color: #ecf0f1;
    float: right;
    font-size: 22px;
    font-weight: lighter;
}