body {
    background: #f7f7f7;
}

.a0-close {
    display: none !important;
}
.hover {
    cursor: pointer;
}

#user-image {
    position: absolute;
    top: 10px;
    right: 40px;
}
#user-image > img {
    height: 25px;
    width: 25px;
}