<div id="user-image">
    <a href="#/account"><img class="img-circle" src="{{auth.profile.picture}}" /></a>
</div>
<div class="container-fluid">
    <img class="img-responsive" src="{{auth.profile.picture}}" />
    <span ng-binding="auth.profile.name"></span>
    <a ng-href="javascript:widget.signin({ access_token: '{{auth.profile.access_token}}' })">Add account</a>
</div>


<script type="text/javascript">
  var widget = new Auth0Widget({
    domain:       'webbage.auth0.com',
    clientID:     'NjpJcv2innqRppQ7tnaOnP5GSwupT6qw',
    callbackURL:  'http://devwebbagechat.apphb.com/#/login',
    dict: {
      signin: {
        title: 'Link with another account'
      }
    }
  });
</script>