<div id="login-background">
    <div class="overlay"></div>
    <div id="login-prompt">        
        <h1 style="color:#fff;">webbage.<span class="emerald-font">chat</span></h1>
        <button class="btn emerald-background clouds-font" 
                style="width: 240px;"
                ng-click="login()"><strong>Log In</strong></button>
        <div class="social">
            <h2 class="asbestos-font">Our service supports logging in with</h2>
            <span class="fa fa-5x fa-facebook-f"></span>
            <span class="fa fa-5x fa-github"></span>
            <span class="fa fa-5x fa-google-plus"></span>
            <span class="fa fa-5x fa-linkedin"></span>
            <span class="fa fa-5x fa-twitter"></span>
            <span class="fa fa-5x fa-windows"></span>
            <span class="fa fa-5x fa-wordpress"></span>
        </div>
    </div>       
</div>