<div class="chat-container">
    <div class="tab-area silver-background col-md-12">
        <div ng-repeat="tab in tabs" class="room-tab concrete-background" ng-class="{ 'active': tab.active }">
            <span ng-bind="tab.name"></span>
            <i class="fa fa-close silver-font" ng-show="tab.canClose"></i>
        </div>
    </div>
    <div class="chat-area col-md-10" scroll="messages">
        <div class="page-loader" ng-show="isLoading">
            <i class="fa fa-3x fa-spin fa-refresh emerald-font"></i>
            <h3>Loading...</h3>
        </div>
        <message class="message-container"
                 ng-repeat="message in messages track by $index"
                 message-item="message"
                 ng-show="!isLoading"
                 ng-class="{ 'consecutive-msg': consecutiveCheck($index) }"
                 reference="insertReference(message.Sender)"></message>
    </div>
    <div class="chat-users col-md-2 hidden-sm hidden-xs">
        <div class="page-loader" ng-show="isLoading">
            <i class="fa fa-2x fa-spin fa-refresh emerald-font"></i>
            <h3>Loading...</h3>
        </div>
        <div ng-show="!isLoading">
            <div class="panel-heading">Admins</div>

            <user-display ng-repeat="user in onlineUsers | filter: { 'IsAdmin': true }"
                          user="user"
                          display-size="lg"
                          ng-show="!isLoading"
                          show-context-menu="true"
                          kick-me="kickUser(u)"></user-display>
            <div class="clearfix" style="margin-bottom: 20px;"></div>

            <div class="panel-heading">Users</div>

            <user-display ng-repeat="user in onlineUsers | filter: { 'IsAdmin': false }"
                          user="user"
                          display-size="lg"
                          ng-show="!isLoading"
                          show-context-menu="true"
                          kick-me="kickUser(u)"></user-display>
            <div class="clearfix" style="margin-bottom: 20px;"></div>
        </div>
    </div>
    <div class="chat-message silver-background col-xs-12">
        <textarea class="message-input col-sm-10 col-xs-9"
                  ng-model="message"
                  ng-focus="isTextAreaFocused = true"
                  ng-blur="isTextAreaFocused = false"></textarea>
        <div class="btn-container col-sm-2 col-xs-3">
            <div class="btn-group-vertical btn-group-block btn-group-xs">
                <button type="button"
                        class="btn btn-block btn-primary"
                        ng-click="clearChat()">
                    Clear Chat
                </button>
            </div>
            <div class="btn-group-vertical btn-group-block btn-group-xs" style="top: 29px">
                <button type="button"
                        class="btn btn-block"
                        ng-class="{ 'btn-default' : !isMessageCode, 'btn-success': isMessageCode }"
                        ng-click="isMessageCode = !isMessageCode">
                    Toggle Code
                </button>
                <button type="button"
                        class="btn btn-block"
                        ng-click="playSound=!playSound"
                        ng-class="{ 'btn-success': playSound, 'btn-default': !playSound}">
                    Toggle Sound:
                    <i class="fa"
                       ng-class="{ 'fa-volume-up': playSound, 'fa-volume-off': !playSound }"></i>
                </button>
            </div>
        </div>
    </div>
</div>
