@using System.Web.Optimization

<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>webbage.chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <script src="//cdn.auth0.com/w2/auth0-widget-5.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//code.angularjs.org/1.2.16/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular-route.js"></script>
    <script src="//cdn.auth0.com/w2/auth0-angular-2.js"></script>

    @Styles.Render("~/styles/bootstrap")
    @Styles.Render("~/styles/site")
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">webbage.chat</a>
            </div>
            <div class="navbar-right" style="margin-top: 10px;color: #ecf0f1">
                <img class="img-circle" ng-class="$rootScope.user ? '' : 'hidden'" style="height: 10px; width: 10px;" src="{[$rootScope.user.picture]}"/>
                <i ng-click="logout()" class="fa fa-2x fa-sign-out hover"></i>
            </div>
        </div>
    </nav>
    <div ng-view></div>

    @Scripts.Render("~/scripts/js")
    @Scripts.Render("~/scripts/angular")
</body>
</html>
