@using System.Web.Optimization

<!DOCTYPE html>
<html ng-app="webbage.chat" class="h100">
<head>
    <title>webbage.chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/styles/site")
</head>
<body>
    <nav ng-controller="navCtrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><span class="clouds-font">webbage.</span><span class="emerald-font bold">chat</span></a>
            </div>
            <div class="nav navbar-right right-menu">
                <div ng-show="!auth.isAuthenticated" ng-cloak>
                    <span class="login" ng-click="login()">Log In</span>
                </div>
                <div ng-show="auth.isAuthenticated" ng-cloak>
                    <div class="user-profile">
                        <img ng-src="{{auth.profile.picture}}" />
                        <span ng-bind="auth.profile.name"></span>
                    </div>

                    <span class="logout" ng-click="logout()">Log Out</span>
                </div>
            </div>
        </div>
    </nav>

    <div ng-view id="view"></div>

    @Scripts.Render("~/scripts/third-party")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/scripts/app")
</body>
</html>
